@charset "UTF-8";

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

#txt, li {
    font-size: 18px;
    max-width: 630px;
}

.imagem img {
    margin-right: 32px;
    width: 91.66px;
    height: 91.66px;
    border-radius: 10%;
    border: 1px solid black;
}

.cabeca {
    display: flex;
    align-items: center;
}

.nav a {
    color: black;
    padding-right: 10px;
}

.nav a:hover {
    text-decoration: none;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    padding-bottom: 30px;
}

.habilidades {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.habilidades li {
    padding: 0px 20px 30px 0px;
}